<meta charset="utf-8">
<title>Dashboard | Supr Admin Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="author" content="" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="application-name" content="" />
<meta name="msapplication-TileColor" content="#3399cc" />
<link rel="icon" href="~/favicon.ico" type="~/image/png">